__pycache__/
*.py[cod]
*$py.class
BrModelo/brModelo.jar
/BrModelo
.idea/git_toolbox_blame.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
periodo2/POO/aula02/pbl02/.idea/git_toolbox_blame.xml
periodo2/POO/POO.iml
periodo2/POO/aula02/aula02.iml
.idea/PUCPR.iml
/periodo2/DevWeb/Alt-F4
/out
/periodo2/POO/.idea
/periodo2/MatDis/.idea
periodo2/MatDis/MatDis.iml
periodo2/POO/.idea/workspace.xml
/periodo2/POO/.idea
idea/
